<h1> <%= @task.title %> </h1>

<% if @task.completed_at.nil? %>
  <div style="border: 1px solid #ccc; background-color: #f8f9fa; color: #555; padding: 12px; border-radius: 8px; margin-bottom: 16px; width: fit-content;">
    Incomplete
  </div>
  <%= button_to 'Mark as Complete', "/tasks/#{@task.id}/complete", method: :post, style: 'background-color: #28a745; color: white; padding: 8px 16px; border-radius: 8px; border: none; margin-bottom: 16px; font-weight: bold;', form: { style: 'display: inline-block;' } %>
<% else %>
  <div style="border: 1px solid #b2dfdb; background-color: #e6ffed; color: #256029; padding: 12px; border-radius: 8px; margin-bottom: 16px; width: fit-content;">
    Completed on <%= @task.completed_at.strftime('%m/%d/%Y') %>
  </div>
  <%= button_to 'Mark as Incomplete', "/tasks/#{@task.id}/incomplete", method: :post, style: 'background-color: #e0e0e0; color: #555; padding: 8px 16px; border-radius: 8px; border: none; margin-bottom: 16px; font-weight: bold;', form: { style: 'display: inline-block;' } %>
<% end %>

<hr>

<h2> Due Date: <%= @task.due_date&.strftime('%Y-%m-%d') %> </h2>
<h3> Assigned To: </h3>
<p>
  <% if @task.listable_type == 'User' %>
    <%= @task.listable.first_name %> <%= @task.listable.last_name %>
  <% else %>
    <%= link_to @task.listable.name, group_path(@task.listable) %>
  <% end %>
</p>
<h3> Description: </h3>
<p> <%= @task.notes %> </p>

<hr>

<div style="margin-top: 10px;">
  <%= link_to 'Edit Task', edit_task_path(@task), style: "color: white; background-color: #007bff; padding: 8px 16px; border-radius: 8px; text-decoration: none; display: inline-block;" %>
</div>
<div>
  &nbsp;
</div>
<div>
  <%= link_to 'Delete Task', "/delete_task/#{@task.id}", style: "color: white; background-color: red; padding: 8px 16px; border-radius: 8px; text-decoration: none; display: inline-block;" %>
</div>
