<h1> Manage <%= @group.name %> Members </h1>

<hr>
<h2> Group members: </h2>
<div>
  <ul>
    <% GroupMembership.where(group_id: @group.id).includes(:user).each do |membership| %>
      <% user = membership.user %>
      <li>
        <% if user == current_user %>
          <p> 
            <%= user.first_name %> <%= user.last_name %> (You)
          </p>
        <% else %>
          <p>
            <%= user.first_name %> <%= user.last_name %>
            <% if membership.role != "admin" %>
              <%= link_to '(Remove)', "/groups/#{@group.id}/remove_member?user_id=#{user.id}", method: :post, class: 'inline', style: 'color: red;' %>
            <% end %>
          </p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<hr>

<h2> Add a new member: </h2>
<div>
  <form action="/groups/<%= @group.id %>/add_member" method="post">
    <div>
      <label for="user_email">User Email:</label>
      <input type="text" id="user_email" name="query_email" required>
    </div>

    <div>
      <label for="role">Role:</label>
      <select id="role" name="query_role">
        <option value="member">Member</option>
        <option value="admin">Admin</option>
      </select>
    </div>

    <button type="submit">Add Member</button>
  </form>
