<h1> <%= @group.name %> </h1>
<p> <%= @group.description %> </p>

<hr>

<h2> Group members: </h2>
<ul>
  <% @group.users.each do |user| %>
    <li>
      <% membership = GroupMembership.find_by(user_id: user.id, group_id: @group.id) %>
      <% if membership && membership.role == "admin" %>
        <%= user.first_name %> <%= user.last_name %> <%= "(Admin)" %>
      <% else %>
        <%= user.first_name %> <%= user.last_name %>
      <% end %>
    </li>
  <% end %>
</ul>

<hr>

<h2> Group tasks: </h2>
<div style="margin-bottom: 10px; display: flex; justify-content: center;">
  <table style="width: 60%; table-layout: fixed; border-collapse: collapse; border: 1px solid #ccc;">
    <thead>
      <tr>
        <th style="width: 40%; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;">Task Name</th>
        <th style="width: 30%; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; text-align: center;">Due Date</th>
        <th style="width: 30%; border-bottom: 1px solid #ccc; text-align: center;">Show Details</th>
      </tr>
    </thead>
    <tbody>
      <% @group.tasks.each do |task| %>
        <tr>
          <td style="border-right: 1px solid #ccc;">
            <% if task.completed_at.nil? %>
              <span style="color: red;"><%= task.title %></span>
            <% else %>
              <span style="color: green;"><%= task.title %></span>
            <% end %>
          </td>
          <td style="text-align: center; border-right: 1px solid #ccc;"> <%= task.due_date&.strftime('%m/%d/%Y') %> </td>
            <td style="text-align: center;"> <a href="/groups/<%= @group.id %>/tasks/<%= task.id %>">Show</a> </td>
        </tr>
      <% end %>
      <% if @group.tasks.empty? %>
        <tr><td colspan="3" style="text-align:center; color: #888;">No group tasks found.</td></tr>
      <% end %>
    </tbody>
  </table>
</div>
<hr>

<% if GroupMembership.exists?(user_id: current_user.id, group_id: @group.id, role: "admin") %>
  <div>
    <a href="/groups/<%= @group.id %>/edit" style="color: white; background-color: #007bff; padding: 8px 16px; border-radius: 8px; text-decoration: none; display: inline-block;">Edit Group</a>
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    <a href="/groups/<%= @group.id %>/manage_members" style="color: white; background-color: #007bff; padding: 8px 16px; border-radius: 8px; text-decoration: none; display: inline-block;">Manage Members</a>
  </div>
  <div>
    &nbsp;
  </div>
  <div>
    <a href="/delete_group/<%= @group.id %>" style="color: white; background-color: red; padding: 8px 16px; border-radius: 8px; text-decoration: none; display: inline-block;">Delete Group</a>
  </div>
  <hr>
<% end %>

<a href="/groups" class="btn btn-secondary">Back to Your Groups</a>
